<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Logapp frontpage</title>
    </head>
    <body>
        <h1>Logapp</h1>
        Welcome <b>{{user.username}}</b>

        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <h3>Logs for user:</h3>

        <ul>          
            {% for log in logs %}
                <li>{{log}}</li>
            {% endfor %}
        </ul>

        <div>
            <form id="log" >
                <input type="datetime" placeholder="datetime"><br>
                Log type:<br>
                <input type="checkbox">log in</input> <input type="checkbox">log out</input><br>
                <button type="submit">Create</button>
            </form>
        </div>
    </body>
</html>